.container {
  margin-bottom: 150px;

  @include media-tablet {
    margin-bottom: 100px;
  }
}

.frame {
  padding-bottom: 0;

  @include media-tablet {
    padding-top: 0;
  }
}

.card {
  padding: 67px 20px 24px;
  overflow: visible;
  position: relative;

  @include media-laptop {
    padding-top: 75px;
  }

  @include media-tablet {
    padding-top: 60px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.text {
  height: 210px;
  min-height: 210px;
  margin-bottom: 24px;
  padding-right: 8px;
  overflow-y: scroll;

  @include media-tablet {
    margin-bottom: 40px;
    height: auto;
    min-height: 100px;
  }

  @include media-low-tablet {
    min-height: 130px;
  }

  @include media-mobile {
    min-height: 260px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 20px;
    top: -20px;
    width: 80px;
    height: 63px;
    background-size: 100%;
    background-repeat: no-repeat;

    @include media-tablet {
      left: 17px;
      top: 12px;
      width: 45px;
      height: 36px;
    }
  }

  &.gray {
    &:before {
      background-image: url("assets/quote--gray.svg");
    }
  }

  &.blue {
    &:before {
      background-image: url("assets/quote--blue.svg");
    }
  }

  &.darkBlue {
    &:before {
      background-image: url("assets/quote--dark-blue.svg");
    }
  }

  &::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
}

.signature {
  font-weight: 500;
  margin-bottom: 8px;
}

.rating {
  @include flex-align(center);
  gap: 8px;
  list-style-type: none;

  img {
    width: 24px;
    height: 24px;
  }
}