.container {
  background-color: transparent;
  padding-bottom: 20px;
  padding-top: 20px;
  width: calc(100% + 20px) !important;
  margin-left: -10px;

  @include media-laptop {
    width: 100% !important;
    margin-left: 0;
  }
}

.card {
  border-radius: 18px;
  border: 1px solid var(--nude);
  background-color: var(--white);
  box-shadow: var(--shadow);
  overflow: hidden;
}

.nav {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;

  @include media-laptop {
    width: 34px;
    height: 34px;
  }

  &.prev {
    margin-left: -30px;

    @include media-laptop {
      margin-left: -18px;
    }

  }

  &.next {
    margin-right: -30px;
    transform: rotate(-180deg);

    @include media-laptop {
      margin-right: -18px;
    }
  }
}

.dots {
  @include flex-justify-align(center, center);
  gap: 20px;
  list-style-type: none;
  position: absolute;
  left: 0;
  bottom: -35px;
  width: 100%;

  @include media-laptop {
    bottom: -25px;
  }
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--nude);
  border-radius: 50%;
  cursor: pointer;

  &.active {
    background-color: var(--secondary-blue);
  }
}