.container {
  border-radius: 18px;
  border: 1px solid var(--nude);
  box-shadow: 0 14px 32px 0 rgba(214, 214, 214, 0.36);
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 48px;
  overflow: hidden;

  @include media-tablet {
    padding-left: 16px;
    padding-right: 16px;
  }

  &:not(&.address) {
    padding-bottom: 40px;
  }
}

.info {
  &Heading {
    @include flex-justify-align(space-between, center);
    margin-bottom: 24px;

    @include media-tablet {
      margin-bottom: 16px;
    }
  }

  .id {
    font-weight: 500;
  }
}

.address {
  & p:first-of-type {
    margin-bottom: 24px;
  }
}

.line {
  background-color: var(--nude);
  width: 100%;
  height: 1px;
  border: 1px solid var(--nude);
  border-bottom: none;
  margin-top: 16px;
  margin-bottom: 24px;

  @include media-tablet {
    margin-bottom: 16px;
  }
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;

  @include media-laptop {
    font-size: 16px;
  }
}