.container {
  @include flex-align(center);
  gap: 3px;
  font-size: 14px;
  font-weight: 500;
  color: var(--gray);
  background-color: transparent;
  border: none;
  transition: color .3s ease-in-out;

  &.reverse svg {
    order: -1;
    transform: rotate(270deg);
  }

  @include media-laptop {
    svg {
      width: 17px;
      height: 17px;
    }
  }

  &:hover {
    color: var(--primary);
    transition: color .3s ease-in-out;
  }
}