.container {
  margin-top: 75px;
  margin-bottom: 150px;

  @include media-laptop {
    margin-bottom: 100px;
  }
}

.inner {
  padding-top: 56px;
  padding-bottom: 56px;
  position: relative;
  z-index: 2;
  max-width: 50%;

  @include media-laptop {
    max-width: 58%;
  }

  @include media-tablet {
    max-width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &.reverse {
    margin-left: 480px;

    @include media-laptop {
      margin-left: 406px;
    }

    @include media-tablet {
      margin-left: 0;
    }
  }
}

.description {
  margin-bottom: 24px;
  max-width: 675px;
  width: 100%;
}

.poster {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: block;
  width: auto;
  height: 112%;
  min-width: 460px;

  @include media-laptop {
    min-width: 334px;
  }

  &.reverse {
    left: 0;
  }
}